@import "../../index.scss";

.tourlist {
	width: 80%;
	max-width: 1170px;
	margin: 0 auto;
	padding: 2rem 0;
	text-align: center;
}

h2 {
	font-size: 70px;
	padding: 5px;
	color: #490000;
	letter-spacing: 3px;
}
