.tour {
  margin: 10px;
  border-radius: 10px;
}

.img {
  width: 100%;
  height: auto;
}

.btn {
  padding: 10px;
  margin: 10px;
}

h3 {
  padding: 10px;
  font-size: 25px;
}
h5,
p {
  padding-top: 5px;
  padding: 10px;
  font-size: 20px;
  text-align: left;
}
