* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

// this just assigns variable names to colors

$mainBlack: #222;
$mainRed: #dc143c;
$mainWhite: #fff;
$mainGrey: #ececec;

body {
	font-size: larger;
	font-family: 'Dancing Script', cursive;
}
