* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$mainBlack: #222;
$mainRed: #dc143c;
$mainWhite: #fff;
$mainGrey: #ececec;

body {
  font-family: "Noto Serif", serif;
}

h2 {
  font-family: "Dancing Script", cursive;
}
